/* 
 * My97 DatePicker 4.7
 */

.WdateDiv{
	width:180px;
	background-color:#FCFCFC;
	border:#BBBBBB 1px solid;
	padding:1px;
}

.WdateDiv2{
	width:360px;
}
.WdateDiv *{font-size:9pt;}

.WdateDiv .NavImg a{
	display:block;
	cursor:pointer;
	height:16px;
	width:16px;
}

.WdateDiv .NavImgll a{
	float:left;
	background:transparent url(img.gif) no-repeat scroll 0 0;
}
.WdateDiv .NavImgl a{
	float:left;
	background:transparent url(img.gif) no-repeat scroll -16px 0;
}
.WdateDiv .NavImgr a{
	float:right;
	background:transparent url(img.gif) no-repeat scroll -32px 0;
}
.WdateDiv .NavImgrr a{
	float:right;
	background:transparent url(img.gif) no-repeat scroll -48px 0;
}

.WdateDiv #dpTitle{
	height:25px;
	padding-top:3px;
	background:transparent url(datePicker_title.gif) repeat left top;
}

.WdateDiv .yminput{
	text-align:center;
	height:20px;
	border:0px;
	width:50px;
	cursor:pointer;
	background:none;	
}
/********************/
.WdateDiv .yminputfocus{
	text-align:center;
	font-weight:bold;
	height:20px;
	color:blue;
	border:#BBBBBB 1px solid;
	width:50px;
}

.WdateDiv .menuSel{
	z-index:1;
	position:absolute;
	background-color:#FFFFFF;	
	border:#ccc 1px solid;
	display:none;
}

.WdateDiv .menu{
	cursor:pointer;
	background-color:#fff;
}
/***********点击年月之后鼠标悬浮效果****************/
.WdateDiv .menuOn{
	cursor:pointer;
	background-color:#88b019;
	color:#FFFFFF;
}

.WdateDiv .invalidMenu{
	color:#aaa;
}

.WdateDiv .YMenu{
	margin-top:20px;
	
}

.WdateDiv .MMenu{
	margin-top:20px;
	*width:62px;
}

.WdateDiv .hhMenu{
	margin-top:-90px; 
	margin-left:26px;
}

.WdateDiv .mmMenu{
	margin-top:-46px; 
	margin-left:26px;
}

.WdateDiv .ssMenu{
	margin-top:-24px; 
	margin-left:26px;
}

 .WdateDiv .Wweek {
 	text-align:center;
	background:#DAF3F5;
	border-right:#BDEBEE 1px solid;
 }

.WdateDiv .MTitle{
	background-color:#dfedc9;
}
.WdateDiv .WdayTable2{
	border-collapse:collapse;
	border:#c5d9e8 1px solid;
}
.WdateDiv .WdayTable2 table{
	border:0;
}

.WdateDiv .WdayTable{
	line-height:20px;
	border:#CFC9C9 1px solid;
}
.WdateDiv .WdayTable td{
	text-align:center;
}

.WdateDiv .Wday{
	cursor:pointer;
}
/*********鼠标悬浮的时候的背景色，第一行和最后一行除外*************/
.WdateDiv .WdayOn{
	cursor:pointer;
	background-color:#88b019;
	color:#FFFEFF;
}

.WdateDiv .Wwday{
	cursor:pointer;
	color:#7c6a2c;
	
}
/*********第一列和最后一列鼠标悬浮的背景色**************/
.WdateDiv .WwdayOn{
	cursor:pointer;
	color:#FFFEFF;
	background-color:#88b019;
}
.WdateDiv .Wtoday{
	cursor:pointer;
	color:blue;
}
/************当前选中日期文字的颜色*******************/
.WdateDiv .Wselday{
	background-color:#88b019;
	color:#FFFFFF;
}
.WdateDiv .WspecialDay{
	background-color:#66F4DF;
}

.WdateDiv .WotherDay{ 
	cursor:pointer;
	color:#8b8a8a;
}
/*************第一列和最后一列鼠标效果****************/
.WdateDiv .WotherDayOn{ 
	cursor:pointer;
	background-color:#88b019;
	color:#FFFFFF;	
}

.WdateDiv .WinvalidDay{
	color:#aaa;

}

.WdateDiv #dpTime{
	float:left;
	margin-top:3px;
	margin-right:30px;
	
}

.WdateDiv #dpTime #dpTimeStr{
	margin-left:1px;
}

.WdateDiv #dpTime input{
	width:18px;
	height:20px;
	text-align:center;
	border:#ccc 1px solid;	
}

.WdateDiv #dpTime .tB{
	border-right:0px;
}

.WdateDiv #dpTime .tE{
	border-left:0;
	border-right:0;
}

.WdateDiv #dpTime .tm{
	width:7px;
	border-left:0;
	border-right:0;
}

.WdateDiv #dpTime #dpTimeUp{
	height:10px;
	width:13px;
	border:0px;
	background:url(img.gif) no-repeat -32px -16px;
}

.WdateDiv #dpTime #dpTimeDown{
	height:10px;
	width:13px;
	border:0px;
    background:url(img.gif) no-repeat -48px -16px;
}

 .WdateDiv #dpQS {
 	float:left;
	margin-right:3px;
	margin-top:3px;
	background:url(img.gif) no-repeat 0px -16px;
	width:20px;
	height:20px;
	cursor:pointer;
 }
.WdateDiv #dpControl {
	text-align:right;	
}
.WdateDiv .dpButton{ 
	height:20px;
	width:44px;
	margin-top:2px;
	margin-right:1px;
	background:url(datePicker_normal.png) no-repeat;
	border:0px;
	cursor:pointer;
   padding-top:2px;
	event:expression(
			onmouseover = function(){
				this.className='dp_hover';
			},
			onmouseout = function(){
				this.className='dp_normal';
			},
			onmousedown = function(){
				this.className='dp_active';
			}
		)
}
.dp_normal{ 
	height:20px;
	width:44px;
	margin-top:2px;
	margin-right:1px;
	background:url(datePicker_normal.png) no-repeat;
	border:0px;
	cursor:pointer;
	padding-top:2px;
}
.dp_hover{ 
	height:20px;
	width:44px;
	margin-top:2px;
	margin-right:1px;
	background:url(datePicker_hover.png) no-repeat;
	border:0px;
	cursor:pointer;
	color:#764F4F;
	padding-top:2px;
}
.dp_active{ 
	height:20px;
	width:44px;
	margin-top:2px;
	margin-right:1px;
	background:url(datePicker_active.png) no-repeat;
	border:0px;
	cursor:pointer;
	color:#764F4F;
	padding-top:2px;
}